/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #0a510e;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label, select, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    background-color: #166606;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #a20404;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  #totalCost {
    font-size: 1.5rem;
    font-weight: bold;
    color: #980606;
  }
  
  /* Reszponzív stílusok */
  @media (max-width: 768px) {
    main {
      width: 90%;
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    label, select, input, button {
      font-size: 0.9rem;
    }
  
    button {
      padding: 8px;
    }
  }
